.header{
    min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(26, 6, 44, 0.7),rgba(7, 15, 44, 0.7)),
	url(images/banner.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.nav-link{
    float: right;
    letter-spacing: 30px;
}

nav{
    background: transparent;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 13%;
    line-height: 80px;
}

.nav-link ul li{
    color: white;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 0px;
}

.nav-link ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li a:hover::after{
    width: 100%
}

.black-nav-link{
    float: right;
    letter-spacing: 30px;
}

.black-nav-link ul li{
    color: black;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.black-nav-link ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 0px;
}

.black-nav-link ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.black-nav-link ul li a:hover::after{
    width: 100%
}

.info{
    justify-content: center;
    letter-spacing: 0;
    text-align: center;
}

.info h3{
    font-size: 22px;
}

.info p{
    font-size: 17px;
    color: darkgray;
}

.menu{
    background-color: aliceblue;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 70px;
}

.action .menu{
    position: absolute;
    top: 80px;
    right: -10px;
    width: 200px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{
    visibility: visible;
    opacity: 1;
}


.action .menu::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: aliceblue;
    transform: rotate(45deg);
}

.menu_pro{
    background-color: aliceblue;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 70px;
}

.action .menu_pro{
    position: absolute;
    top: 80px;
    right: -10px;
    width: 200px;
    transition: 0.1s;
    visibility: hidden;
    opacity: 0;
}

.action .menu_pro.active{
    visibility: visible;
    opacity: 1;
}


.action .menu_pro::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: aliceblue;
    transform: rotate(45deg);
}

.text-box{
    color: white;
    padding: 200px 150px;
    font-size: 25px;
}

.text-box h1{
    display: inline-block;
    font-size: 100px;
    font-weight: bold;
}

.text-highlight{
    color: #FF9900
}

.action-btn{
    border-radius: 40px;
	display: inline-block;
	color: #fff;
	padding: 25px 120px;
	background: #FF9900;
	position: relative;
	cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 20px 20px rgba(20, 6, 36, 0.2);
}

.title-header{
    margin-left: 20px;
    display: inline-block;
    border-radius: 20px;
    padding: 25px 100px;
    background: #000000;
    color: #ffffff;
    transform: translatey(-20%) ;
}

.some_about{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.card{
    border-radius: 20px;
    width: 502px;
    margin: 50px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}
.card_link{
    cursor: pointer;
}

.card_link .card_img{
    background-size: cover;
    border-radius: 20px;
    transition: 0.3s;
}

.card_link .hidden_btn{
    transform: translateY(-500%);
    border-radius: 40px;
    font-weight: bold;
    color: #000000;
    visibility: hidden;
    padding-left: 170px;
    transition: 0.1s;
}

.card_link:hover .hidden_btn{
    visibility: visible;
    color: #000000;
}

.card_link:hover .card_img{
    opacity: 0.4;
}


.intro{
    margin: 0px 20px 20px 20px;
    color: #000000;
}

.create-form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-form input[type=submit]:hover {
    background-color: #45a049;
}

.create-form {
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.search_form{
    justify-content: flex-end;
}

.search_bar{
    border-radius: 40px;
    padding: 10px 20px;
}

.search_bar[type=text] {
    transition: width 0.4s ease-in-out;
}

.search_bar[type=text]:focus {
    width: 73%;
}

.banner{
    background: #eeeeee6d;
}

.idea-container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-side{
    margin-top: 60px;
    border-radius: 20px;
    background: aliceblue;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}

.main-content{
    border-radius: 20px;
    background: white;
    flex-basis: 47%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}

.right-side{
    margin-top: 60px;
    border-radius: 20px;
    background: aliceblue;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}

.profile-display{
    padding-left: 70px;
    padding-top: 40px;
    display: flex;
}

.profile-display h3{
    padding-top: 5px;
    padding-left: 30px;

}

.imp-link{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.imp-link a{
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 70px;
    text-decoration: none;
    color: #545454;
}

.idea-action{
    display: flex;
    justify-content: space-between;
}

.sort-idea select{
    background: #b1b1b1;
    border-radius: 10px;
    margin-left: 100px;
    padding: 10px 50px 10px 50px;
}

.btn-idea{
    margin-right: 100px;
}

.add-idea{
    border: none;
    border-radius: 10px;
    background-color:#a26dec;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.refresh-idea{
    border: none;
    border-radius: 10px;
    background-color: #b1b1b1;
    padding: 10px 5px 10px 5px;

}

.create-idea{
    border: solid #a7a7a7;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

/* 25% */
@media(max-width: 5400px){

}

/* 33% */
@media(max-width: 4000px){

}

/* 50% */
@media(max-width: 2700px){

}

/* 67% */
@media(max-width: 2000px){

}

/* 75% */
@media(max-width: 1800px){

}

/* 80% */
@media(max-width: 1700px){

}

/* 90% */
@media(max-width: 1500px){

}

/* 100% */
@media(max-width: 1300px){

}

/* 110% */
@media(max-width: 1200px){

}

/* 125% */
@media(max-width: 1000px){

}

/* 150% */
@media(max-width: 900px){


}

/* >175% */
@media(max-width: 800px){


}

/* login */

/**{*/
/*    padding :0;*/
/*    margin: 0;*/
/*}*/

/*body{*/
/*    background-color: whitesmoke no-repeat;*/
/*    background-size: cover;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    display: flex;*/
/*    font-family: sans-serif;*/
/*}*/
.container {
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #def8f9;
    border-radius: 5px;
    border-width: 2px;
    border-color: #0a0a0a;
}
.container .logo{
    width: 100px;
    padding: 20px 40px ;
}
.login_form .logosocial img{
    width: 50px;
    padding: 20px 20px 15px 35px;
}
.label {
    padding: 5px 180px;
    font-size: 28px;
    font-weight: bold;
    color: #0a0a0a;
}
.login_form{
    padding: 20px 40px;
    width: 350px;
}

.login_form .font{
    font-size: 13px;
    color: #0a0a0a;
    margin: 5px 0;
    font-weight: 750;
}
.login_form input {
    outline: none;
    height: 20px;
    width: 350px;
    padding: 0 5px;
    font-size: 13px;
    border: 0px;
    border-bottom: 1px outset rgb(245, 242, 242);
}
.login_form .font2{
    margin-top: 10px;
}
.login_form button{
    margin: 30px 0 20px 0;
    height: 35px;
    width: 350px;
    font-size:20px ;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    border: 0px;
    background-color: rgb(73, 202, 235);

}

.login_form .check input{
    height: 16px;
    width: 16px;
    float: left;

}
.login_form .check {
    padding: 10px 10px;
    font-size: 15px;
    margin-right: 20px;
}

/* login */
